body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  .navbar {
    background-color: #333;
    color: #fff;
  }
  
  .navbar a {
    color: #fff;
    margin-right: 15px;
  }
  
  .container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }
  .btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    color: white;
}

.btn-linkedin {
    background-color: #0077B5;
}

.btn-github {
    background-color: #333;
}

.btn-linkedin:hover {
    background-color: #005582;
}

.btn-github:hover {
    background-color: #24292e;
}
